[Unit]
Description=CamAlert Service
After=network.target

[Service]
ExecStart=python3 /home/pi/camportal/server.py
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
